.app-action-item {
    display: inline-flex;
    margin: 0;
    padding: var(--app-spacing-1) var(--app-spacing-2);

    background-color: var(--app-color-white);
    color: var(--app-color-black);
    border: var(--app-border-width) solid var(--app-color-black);
    border-radius: var(--app-border-radius);
}

.app-action-item:hover:not(:active),
.app-action-item:focus-visible:not(:active) {
    cursor: pointer;
    transition: all var(--app-transition-default-duration)
        var(--app-transition-default-ease);
    background-color: var(--app-color-black);
    color: var(--app-color-white);
}
